extends layout

block content
  h1= title
  - let artifactId = toShow._id
  - let name = toShow.name
  - let age = toShow.age
  - let origin = toShow.origin

  div.row.mb-2
    div.mr-1 Artifact ID:
    div #{artifactId}
  div.row.mb-2
    div.mr-1 Name:
    div #{name}
  div.row.mb-2
    div.mr-1 Age:
    div #{age}
  div.row.mb-2
    div.mr-1 Origin:
    div #{origin}
